.systemCard {
  border: 1px solid transparent;
  cursor: pointer;

  &.active {
    background-color: var(--mantine-color-blue-light);
    border-color: var(--mantine-color-blue-outline);
  }

  button {
    display: none;
  }

  @mixin hover {
    background-color: var(--mantine-color-blue-light-hover);

    button {
      display: block;
    }
  }
}
