.container {
  position: relative;
  padding: 0;
}

.scrollbar {
  z-index: 1;
}

.header {
  position: sticky;
  top: 0;
  background-color: var(--mantine-color-body);
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: rem(1px) solid
      light-dark(var(--table-border-color), var(--mantine-color-dark-4));
  }
}

.noData {
  td {
    text-align: center;
    font-size: rem(20px);
    padding: rem(48px);
  }
}
